<% layout("boilerplate.layout") %>
<div class="main" style="height: 100% !important;width: 100% !important;flex: 1; display: flex;flex-direction: column;justify-content: center;">

  <div class="error" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
      <div class="alert alert-danger " role="alert">
          <%= message %>
        </div>
  
        <button type="button" class="btn btn-dark ml-4" style="margin: auto !important;" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;"><a href="/listings" style="color: white !important;">Go back to Home</a></button>
  </div>
</div>