<footer  >
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="text">wanderlust private limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="ac">privacy</a><a href="/terms" class="ac">terms</a>
            
        </div>
    </div>
</footer>